body{
    margin:0px;
}

.top_bottom{
    background-color: darkblue;
    text-align:center;
    color:white;
    font-size:20px;
}

#header{
    width:100%;
    margin:0px;
    padding-top:25px;
    padding-bottom:25px;
}
#footer{
    width:100%;
    margin-top:20px;
    padding-top:25px;
    padding-bottom:100px;
}

#banner_image{
    width:100%;
    margin-bottom:20px;
}

.puppies .puppy1{
    width:32%;
    margin-bottom:20px;
    margin-left: auto;
    margin-right: auto;
}

.puppies .puppy1 img{
    width:100%;
    height:100%;
}

.puppies .text{
    display: none;
}

.puppies .puppy2{
    width:32%;
    margin-bottom:20px;
    margin-left: auto;
    margin-right: auto;
}

.puppies .puppy2 img{
    width:100%;
    height:100%;
}

.more .text{
    width:100%;
    margin-top:20px;
    margin-bottom:20px;
    font-size:15px;
    text-align:center;

}


.more .image1{
    width:48%;
    margin-bottom:20px;
    margin-left: auto;
    margin-right: auto;
}

.more .image2{
    width:48%;
    margin-bottom:20px;
    margin-left: auto;
    margin-right: auto;
}

.more .image1 img{
    width:100%;
    height:100%;
}

.more .image2 img{
    width:100%;
    height:100%;
}

/* first break point */

 @media(min-width:700px){
    .top_bottom{
        font-size:30px;
    }
    #footer{
        margin-top:80px;
    }
    #banner_image{
        margin-bottom:80px;
    }
    .puppies{
        display:flex;
        justify-content: space-between;
        width:84%;
        margin-left:auto;
        margin-right: auto;
    } 
    .puppies .puppy1{
        width:32%;
        margin-bottom:0px;
        margin-left: auto;
        margin-right: auto;
    }
    .puppies .puppy2{
        width:32%;
        margin-bottom:0px;
        margin-left: auto;
        margin-right: auto;
    }
    .puppies .text{
        display: block;
    }
    .puppies .text{
        background-color: orangered;
        width: 32%;
    }
    .puppies .text p{
        padding-left:10%;
        padding-right:15%;
        padding-top:15%;
        padding-bottom:15%;
        font-size:50px;
        text-align: center;
    }
    .more .text{
        margin-top:40px;
        margin-bottom:40px;
        font-size:27px;
    }

 }



    


